
<!-- Begin Freedback Form -->
<div class="wrapper">
<div id="pagesay" >
	<form enctype="multipart/form-data" method="post" action="http://www.freedback.com/mail.php" accept-charset="UTF-8">
	<div>
		<input type="hidden" name="acctid" id="acctid" value="4dhyttjgm6f1ke2k" />
		<input type="hidden" name="formid" id="formid" value="1169264" />
		<input type="hidden" name="required_vars" id="required_vars" value="name,email" />
	</div>
			<table cellspacing="5" cellpadding="5" border="0">
				<tr>
					<td valign="top">
						<strong>&#22995;&#21517;&#25110;&#26165;&#31216;&#65306;</strong>
					</td>
					<td valign="top">
						<input type="text" name="name" id="name" size="40" value="" />
						
					</td>
				</tr>
				<tr>
					<td valign="top">
						<strong>Email &#22320;&#22336;&#65306;</strong>
					</td>
					<td valign="top">
						<input type="text" name="email" id="email" size="40" value="" />
						
					</td>
				</tr>
				<tr>
					<td valign="top">
						<strong>&#24744;&#30340;&#30041;&#35328;&#65306;</strong>
					</td>
					<td valign="top">
						<textarea name="field-3897568c15dcbd0" id="field-3897568c15dcbd0" rows="6" cols="40"></textarea>
						
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value=" Submit Form " />
					</td>
				</tr>
			</table>
		</form>
		<br><center><font face="Arial, Helvetica" size="1"><b>
		Form provided by <a href="http://www.freedback.com">Freedback</a>.
		</b></font></center>
		<!-- End Freedback Form -->
</div>